body{
    background-image: url(https://imgur.com/UBOc49E.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div.top1{
    text-align: left;
    font-weight: bolder;
    color: #ffffff;
    font-weight: bolder;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
    background-color: rgba(0,0,0,0.9);
}

div.div0{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
}

div.div0_1{
    text-align: left;
    font-weight: bolder;
    color: #ffffff;
    font-weight: bolder;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: rgba(0,0,0,0.9);
}

div.div1{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    border-style: solid;
    border-width: 5px;

}

div.div1_1{
    text-align: left;
    font-weight: bolder;
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    background-color: rgba(0,0,0,0.9);

}

div.top1 {
	margin-top: 0px;
	margin-left: 134px;
}